<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258493150949-j6b5u64h5ej51ivutclki75pcg1hqi5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258493150949-j6b5u64h5ej51ivutclki75pcg1hqi5j</string>
	<key>API_KEY</key>
	<string>AIzaSyCktbhfA_vPqpYHaKYN-JH8o5RM2rHuceQ</string>
	<key>GCM_SENDER_ID</key>
	<string>258493150949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskDemo</string>
	<key>PROJECT_ID</key>
	<string>task-demo-80bba</string>
	<key>STORAGE_BUCKET</key>
	<string>task-demo-80bba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258493150949:ios:6f47aa083be4468717460c</string>
</dict>
</plist>